body {
    background-color: darkblue;
}
h1 {
    color: lightcyan;
}
h2 {
    color: lightcyan;
}
a {
    color: lawngreen;
}
p {
    color: yellow;
}
h3 {
    color: lawngreen;
}
h4 {
    color: lawngreen;
}
.GibsonSG {
    color: lawngreen;
}
.ExplorerGuitar {
    color: lawngreen;
}
.TwoNeckGuitar {
    color: lawngreen;
}
a {
    color: lawngreen;
}